/*
font-family: 'Conv_MuseoSansCyrl 100 Italic';
font-family: 'Conv_MuseoSansCyrl 100';
font-family: 'Conv_MuseoSansCyrl 300 Italic';
font-family: 'Conv_MuseoSansCyrl 300';
font-family: 'Conv_MuseoSansCyrl 900 Italic';
font-family: 'Conv_MuseoSansCyrl 900';
font-family: 'Conv_Natasha';
*/
*{
	outline: none;
}
*:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
div{
	box-sizing: border-box;
}
.clearfix:after{
	display: table;
	content: "";
	clear: both;
}
/*---HEADER---*/
#header{
	background:url(../img/header__img.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.header__bg{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);
}
.header__navigation{
	background-color: rgba(0, 0, 0, 0.25);
	height: 77px;
}
.menu__item a{
	font-family: 'Conv_MuseoSansCyrl 900';
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	margin-left: 25px;
	padding: 12px;
}
.menu__item a:hover{
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.14);
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu__item{
	display: inline-block;
	line-height: 77px;
}
.menu__list li:first-child a{
	margin-left: 0px;
}
.header__contact__span{
	float: left;
	display: block;
	width: 27px;
	height: 27px;
	color: #1f91c2;
	border:1px dashed #1f91c2;
	text-align: center;
    line-height: 27px;
    border-radius: 50px;
   	position: relative;
   	right: 10px; 
   	cursor:pointer;
}
.header__contact{
	font-size: 15px;
	font-family: 'Conv_MuseoSansCyrl 300';
	padding: 25px 0;
}
.header__heading, .header__heading__small{
	font-family:'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
	margin-top: 205px;
}
.header__heading__small{
	font-size: 51px;
	letter-spacing: 15px;
}
.header__heading h1{
	font-size: 90px;
	letter-spacing: 45px;
}
.header__heading h2{
	font-size: 51px;
	letter-spacing: 15px;
	margin-top: 35px;
}
.header__arrow {
	margin-top: 175px;
	margin-bottom: 130px;
}
.header__arrow a{
	color:#fff;
	width: 46px;
	height: 46px;
	border: 1px dashed white;
	display: block;
	margin: 0 auto;
	border-radius:50px;
	line-height: 46px;
}
#exampleModal{
	background-color:rgba(35, 170, 226, 0.3);
}
#exampleModal form{
	padding: 75px 0;
	font-family: 'Conv_MuseoSansCyrl 300';
	font-size: 13px;
}
#exampleModal input, .exampleModal__btn{
	width:80%;
	margin: 10px 0px;
    position: relative;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    background-color: #30c2ff;
    border: 1px solid white;
    padding: 10px 15px;
    color: #fff;
}
.exampleModal__btn{
	background: none;
}
.box-modal_close{
	display: inline-block;
	float: right;
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
	color: #30c2ff;
}
.box-modal_close:hover{
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
 .exampleModal__btn:hover, .exampleModal__btn:focus{
 	border: 1px solid #30c2ff;
	color: #30c2ff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
 }
/*-*/

/*---ADVANTAGE---*/
.heading__block__black{
	font-family:'Conv_MuseoSansCyrl 900';
	font-size: 42px;
	color: black;
	text-transform: uppercase;
	padding:90px 0 70px;
}
.heading__block__white{
	font-family:'Conv_MuseoSansCyrl 900';
	font-size: 42px;
	color: white;
	text-transform: uppercase;
	padding:90px 0 70px;
}
.advantage__content{
	background-color: #f4f4f4;
	box-shadow: 1px 1.7px 4px rgba(149, 147, 147, 0.33);
	height: 350px;
	margin-bottom: 95px;
}
.advantage__content img{
	padding:55px 0 30px;
}
.advantage__content h3{
	font-family:'Conv_MuseoSansCyrl 900';
	font-size: 20px;
	text-transform: uppercase;

}
.advantage__content h3:after{
	content: "";
	display: block;
	width: 37px;
	height: 1px;
	opacity: 0.19;
	margin: 17px auto;
	background-color: black;
}
.advantage__content p{
	font-size: 17px;
	font-family:'Conv_MuseoSansCyrl 100';
	padding: 0 25px;
}

/*-*/

/*---MOVE---*/
#move{
	background: url(../img/move__bg.png) no-repeat fixed center top / cover;
	color: #fff;
}
.move__bg{
	background-color: rgba(14, 42, 65, 0.86);
	height: 100%;
	width:100%;
}
.move__list li:first-child p{
	font-size: 18px;
	font-family: 'Conv_MuseoSansCyrl 100 Italic';
	padding-bottom: 15px;
}
.move__list li:first-child span{
	font-size: 14px;
	font-family:'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
}
.move__list li:nth-child(2){
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
	padding: 55px 0;
	margin: 55px 0;
	position: relative;
}
.move__list li:nth-child(2) p{
	font-size: 19px;
	font-family: 'Conv_MuseoSansCyrl 100';
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-bottom: 15px;
}
.move__list li:nth-child(2) span{
	font-size: 23px;
	font-family:'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
	letter-spacing: 7px;
}
.move__list li:nth-child(3) p{
	font-size: 37px;
	text-transform: uppercase;
	font-family:'Conv_MuseoSansCyrl 900';
	padding-bottom: 15px;
}
.move__list li:nth-child(3) span{
	font-size: 18px;
	letter-spacing: 4px;
	font-family:'Conv_MuseoSansCyrl 100';
}
.move__list li:last-child{
	margin: 80px 0;
}
.move__list li:last-child a{
	text-transform: uppercase;
	color: #FFF;
	padding: 25px 35px;
	border: 2px solid white;
	border-radius: 4px;
	font-family:'Conv_MuseoSansCyrl 900';
}
.move__list li:last-child a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #213646;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.move__list .arrows__one, .arrows__two{
	width: 33px;
	height: 33px;
	background-color: #213646;
	border: 1px dashed white;
	border-radius: 50px;
}
.move__list .arrows__one a, .arrows__two a{
	color: #fff;
	line-height: 33px;
	display: block;
}
.move__list .arrows__one, .arrows__two {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.move__list .arrows__one{
	top:-16.5px;
}
.move__list .arrows__two{
	bottom: -16.5px;
}
/*-*/

/*---SERVICE---*/

.service__item{
	background-color: #f4f4f4;
	box-shadow: 1px 1.7px 4px rgba(149, 147, 147, 0.33);
}
.service__list{
	margin-top: 65px;
}
.service__list li:first-child{
	position: relative;
	margin-bottom: 7px;
}
#service, .service__item__img{
	z-index: 1 !important;
	top:-125px !important;
}
.service__list li:first-child img{
	position: absolute;
	top:-67.5px;
	z-index: -1;
	transform: translateX(50%);
    right: 50%;
}

.service__item h3{
	font-size: 20px;
	font-family:'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
	padding: 70px 0 20px;
}
.service__list li:first-child p{
	padding:0 20px 40px;
	font-size: 17px;
	font-family:'Conv_MuseoSansCyrl 100';
}
.service__list li:nth-child(2){
	position: relative;
}
.service__list li:nth-child(2) p{
	padding:40px 20px;
	font-size: 17px;
	font-family:'Conv_MuseoSansCyrl 100';
}
.service__list li:nth-child(2) span{
	display: block;
	position: absolute;
	top:-30px;
	left: 50%;
	transform:translateX(-50%);
	border-radius: 50px;
	width: 60px;
	height: 60px;
	background-color: #23aae2;
	color: #fff;
}
.service__list li:nth-child(2) i{
	font-size: 35px;
    line-height: 60px;
}
.service__list li:last-child{
	background:none;
	box-shadow: none;
	margin:80px 0;
}
.service__list li:last-child a{
	text-transform: uppercase;
    color: #23aae2;
    padding: 25px 35px;
    border: 2px solid #23aae2;
	border-radius: 4px;
    font-family: 'Conv_MuseoSansCyrl 900';
}
.service__list li:last-child a:hover{
	background-color: #23aae2;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/*-*/

/*---COMMENT---*/
.comment__block{
	background-color: white;
	box-shadow: 1px 1.7px 4px rgba(149, 147, 147, 0.33);
	margin-bottom: 150px;
}
.comment__block img{

}
.comment__item{
	display: inline-block;
}
.comment__list{
	margin-left: 35px;
	padding-top: 20px;
}
.comment__list li:first-child{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Conv_MuseoSansCyrl 900';
	margin-right: 30px;
}

.comment__list li:nth-child(2) a{
	text-decoration: underline;
	text-transform: uppercase;
	color: #23aae2;
	line-height: 0px;
	font-family: 'Conv_MuseoSansCyrl 300';
}
.comment__list li:nth-child(3){
	float: right;
	color: #23aae2;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Conv_MuseoSansCyrl 100';
}
.comment__list li:last-child p{
	font-family: 'Conv_MuseoSansCyrl 100 Italic';
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 20px;
}
.slider__nav, .next, .prev{
	position: absolute;
	color: #23aae2;
	font-size: 45px;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
}
.slider__block .slick-next, .slick-prev {
	-webkit-transform: translate(-0, -50%); 
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); 
}
.slider__block .slick-prev:before, .slick-next:before{
	color: #23aae2;
	font-size: 30px;
}
.slider__block .slick-next{
	right: -85px;
}	
.slider__block .slick-prev{
	left: -85px;
}

.slider__block .slick-dots li{
	width: 19px;
	height: 19px;
	border: 1px dashed #23aae2;
	border-radius: 50px;
	margin: 0 5px;
	top: 75px;
}
.slider__block .slick-dots .slick-active{
	background-color: #23aae2;
}
.slider__block .slick-dots li button:before{
	display: none;
}
/*-*/
/*---FORM---*/
#form{
	background:url(../img/form-bg.png) no-repeat fixed center top / cover;
}
.heading__block__white p{
	font-size: 21px;
	font-family: 'Conv_MuseoSansCyrl 100';
	padding-top: 35px;
	line-height: 27px;
}
.heading__block__white span{
	display: block;
	width: 33px;
	height: 33px;
	background-color: #11b2f5;
	border: 1px dashed white;
	line-height: 33px;
	text-align: center;
	font-size: 15px;
	border-radius: 50px;
	margin: 35px auto;
}
#form form{
	margin-top: -70px;
}
#form form input, button{
	width:100%;
}
#form form input{
	background-color: #30c2ff;
	border: 1px solid white;
	border-radius: 3px;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Conv_MuseoSansCyrl 300';
	padding: 27px 35px;
	margin-bottom: 10px;
}
  ::-webkit-input-placeholder {color:#fff; opacity:1;}/* webkit */
  ::-moz-placeholder          {color:#fff; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color:#fff; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#fff; opacity:1;}/* IE */


 #form form button{
 	border: 2px solid white;
	border-radius: 4px;
	background:none;
 	margin-top: 10px;
 	font-size: 15px;
 	padding:27px 0;
 	color: #fff;
	font-family: 'Conv_MuseoSansCyrl 300';
	text-transform: uppercase;
	margin-bottom: 80px;
}
/*-*/


/*--ABOUT---*/
.about__paragraph{
	padding: 55px 0;
	font-size: 18px;
	font-family: 'Conv_MuseoSansCyrl 100';
}
.about__paragraph b{
	font-family: 'Conv_MuseoSansCyrl 900';
}

.about__list li:first-child{
	text-align: right;
	font-family: 'Conv_MuseoSansCyrl 900';
}
.about__list li:first-child span{
	color: #23aae2;
	font-size: 39px;
	
}
.about__list li:first-child p{
	color: black;
	font-size: 15px;
	padding-top: 5px;
}
.about__list li:nth-child(2) {
	text-align: center;
}
.about__list li:nth-child(2) span{
	line-height: 73px;
	font-size: 19px;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-family: 'Conv_MuseoSansCyrl 100';
}
.about__list li:last-child{
	font-family: 'Conv_MuseoSansCyrl 900';
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 7px;
}
.about__list li:last-child span{
	color: #23aae2;
}
.about__list li:last-child p{
	padding-top: 5px;
}

.ready__block{
	height: 76px;
	line-height: 76px;
	background-color: #23aae2;
	margin: 60px 0 0;
	font-size: 23px;
	text-transform: uppercase;
	font-family: 'Conv_MuseoSansCyrl 900';
	color: #fff;
}
.partners__content{
	height: 525px;
	background-color: #f4f4f4;
	box-shadow: 1px 1.7px 4px rgba(149, 147, 147, 0.33);
	margin-bottom: 60px;
}
.img__partners{
	margin: 35px 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.name__partners{
	font-size: 21px;
	font-family: 'Conv_MuseoSansCyrl 900';
}
.name__partners:after{
	content: "";
	display: block;
	width: 37px;
	height: 1px;
	opacity: 0.19;
	margin: 22px auto 0;
	background-color: black;
}
.text__partnets{
	font-size: 16px;
	opacity: 0.8;
	font-family: 'Conv_MuseoSansCyrl 100';
	text-align:justify;
	padding: 22px 35px 0;
	line-height: 25px;
}
/*-*/

/*---MOVE---*/
.move__paragraph{
	padding: 55px 0;
    font-size: 18px;
    font-family: 'Conv_MuseoSansCyrl 100';
}
.move__paragraph b{
	font-family: 'Conv_MuseoSansCyrl 900';
}
.move__text{
	font-size: 16px;
	opacity: 0.8;
	color: #000;
	line-height: 25px;
	font-family: 'Conv_MuseoSansCyrl 100';
	height: 250px;
}
.move__img__bottom{
	margin-top: -90px;
}
/*-*/

/*---compass__contact---*/
.contact__item{
	margin-bottom: 50px;
}
.content__top{
	background-color: #fff;
	position: relative;
	top:-90px;
	background-color: white;
	box-shadow: 0 3px 1px rgba(159, 160, 160, 0.18);
	margin-bottom: 50px;
}
.compass__contact__paragraph{
	font-family: 'Conv_MuseoSansCyrl 100';
	font-size: 17px;
	padding:55px 0;
	text-align: center;

}
.contacts__img{
	display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    margin-right: 30px;
}
.contact__span{
	display: block;
	font-size: 18px;
	font-family: 'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
	padding-bottom: 20px;
}
.contact__paragraph{
	display: inline-block;
	font-size: 16px;
	font-family: 'Conv_MuseoSansCyrl 100';
}
.form__text__big b{
	font-size: 25px;
	padding-bottom: 3px;
}
.form__text__big{
	padding: 45px 0 20px;
	font-size: 20px;
	font-family: 'Conv_MuseoSansCyrl 900';
}
.form__text__small{
	font-size: 18px;
	padding-bottom: 30px;
}
.contact__form__text{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Conv_MuseoSansCyrl 100';
}
.contact__form {
	background-color: #11b2f5;
	border-radius: 3px;
	margin-bottom: 60px;
}
.contact__form .contact__form__input, .contact__form__btn{
	width:80%;
	background:none;
}
.contact__form__input{
	font-family: 'Conv_MuseoSansCyrl 300';
	margin-bottom: 5px;
	padding: 23px 40px;
	background-color: #30c2ff;
	border: 1px solid white;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
}
.contact__form__btn{
	font-size: 13px;
	color: #fff;
	font-family: 'Conv_MuseoSansCyrl 900';
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 30px;
	height: 55px;
	border: 2px solid white;
	border-radius: 4px;
}
/*-*/


/*---FOOTER---*/
footer{
	height: 80px;
	background-color: #23aae2;
	box-shadow: 3.4px -12.6px 131px rgba(0, 0, 0, 0.26);
}
footer p, a{
	line-height: 80px;
	opacity: 0.76;
	color: #faf7f7;
	font-family: 'Conv_MuseoSansCyrl 100';
	font-size: 14px;
}
footer a{
	border-bottom: 1px dashed #faf7f7;
}
#form .form__span__btn a:hover{
	color: #fff;
}

#form .form__span__btn a{
	line-height: 0;
    display: inline-block;
    padding: 10px;
    color: #fff;
    opacity: 1;
}

footer a:hover{
	color:#faf7f7;
}

.footer__contact{
	font-size: 15px;
    font-family: 'Conv_MuseoSansCyrl 300';
    padding: 25px 0;
    color:#fff;
}
.footer__contact__span{
	cursor: pointer;
	float: left;
    display: block;
    width: 27px;
    height: 27px;
    color: #fff;
    border: 1px dashed #fff;
    text-align: center;
    line-height: 27px;
    border-radius: 50px;
    position: relative;
    right: 10px;
}
/*-*/

/**/
.block__animated__left,
.block__animated__right,
.block__animated__up,
.block__animated{
	opacity: 0;
}